server.host: 0.0.0.0
server.port: 5601

opensearch.hosts: ["{{ os_nodes }}"]
opensearch.ssl.verificationMode: none
opensearch.username: kibanaserver
opensearch.password: kibanaserver
opensearch.requestHeadersWhitelist: [authorization, securitytenant]
